<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy.hsxt.tc.batch.mapper.TcAogpSummaryMapper" >
  <resultMap id="BaseResultMap" type="com.gy.hsxt.tc.batch.bean.TcAogpSummary" >
    <id column="SUM_ID" property="sumId" jdbcType="DECIMAL" />
    <result column="ACC_DATE" property="accDate" jdbcType="CHAR" />
    <result column="GP_TRAN_NUM" property="gpTranNum" jdbcType="DECIMAL" />
    <result column="GP_TRAN_AMOUNT" property="gpTranAmount" jdbcType="DECIMAL" />
    <result column="BS_TRAN_NUM" property="bsTranNum" jdbcType="DECIMAL" />
    <result column="BS_TRAN_AMOUNT" property="bsTranAmount" jdbcType="DECIMAL" />
    <result column="FLAT_NUM" property="flatNum" jdbcType="DECIMAL" />
    <result column="FLAT_AMOUNT" property="flatAmount" jdbcType="DECIMAL" />
    <result column="BS_HAVE_NUM" property="bsHaveNum" jdbcType="DECIMAL" />
    <result column="BS_HAVE_AMOUNT" property="bsHaveAmount" jdbcType="DECIMAL" />
    <result column="GP_HAVE_NUM" property="gpHaveNum" jdbcType="DECIMAL" />
    <result column="GP_HAVE_AMOUNT" property="gpHaveAmount" jdbcType="DECIMAL" />
    <result column="UPDATED_DATE" property="updatedDate" jdbcType="OTHER" />
    <result column="TC_RESULT" property="tcResult" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    SUM_ID, ACC_DATE, GP_TRAN_NUM, GP_TRAN_AMOUNT, BS_TRAN_NUM, BS_TRAN_AMOUNT, FLAT_NUM, 
    FLAT_AMOUNT, BS_HAVE_NUM, BS_HAVE_AMOUNT, GP_HAVE_NUM, GP_HAVE_AMOUNT, UPDATED_DATE, 
    TC_RESULT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_TC_AOGP_SUMMARY
    where SUM_ID = #{sumId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_TC_AOGP_SUMMARY
    where SUM_ID = #{sumId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.gy.hsxt.tc.batch.bean.TcAogpSummary" >
    insert into T_TC_AOGP_SUMMARY (SUM_ID, ACC_DATE, GP_TRAN_NUM, 
      GP_TRAN_AMOUNT, BS_TRAN_NUM, BS_TRAN_AMOUNT, 
      FLAT_NUM, FLAT_AMOUNT, BS_HAVE_NUM, 
      BS_HAVE_AMOUNT, GP_HAVE_NUM, GP_HAVE_AMOUNT, 
      UPDATED_DATE, TC_RESULT)
    values (seq_T_TC_AOGP_SUMMARY.nextval, #{accDate,jdbcType=CHAR}, #{gpTranNum,jdbcType=DECIMAL}, 
      #{gpTranAmount,jdbcType=DECIMAL}, #{bsTranNum,jdbcType=DECIMAL}, #{bsTranAmount,jdbcType=DECIMAL}, 
      #{flatNum,jdbcType=DECIMAL}, #{flatAmount,jdbcType=DECIMAL}, #{bsHaveNum,jdbcType=DECIMAL}, 
      #{bsHaveAmount,jdbcType=DECIMAL}, #{gpHaveNum,jdbcType=DECIMAL}, #{gpHaveAmount,jdbcType=DECIMAL}, 
      #{updatedDate,jdbcType=OTHER}, #{tcResult,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.gy.hsxt.tc.batch.bean.TcAogpSummary" >
    insert into T_TC_AOGP_SUMMARY
    <trim prefix="(" suffix=")" suffixOverrides="," >      
        SUM_ID,
      <if test="accDate != null" >
        ACC_DATE,
      </if>
      <if test="gpTranNum != null" >
        GP_TRAN_NUM,
      </if>
      <if test="gpTranAmount != null" >
        GP_TRAN_AMOUNT,
      </if>
      <if test="bsTranNum != null" >
        BS_TRAN_NUM,
      </if>
      <if test="bsTranAmount != null" >
        BS_TRAN_AMOUNT,
      </if>
      <if test="flatNum != null" >
        FLAT_NUM,
      </if>
      <if test="flatAmount != null" >
        FLAT_AMOUNT,
      </if>
      <if test="bsHaveNum != null" >
        BS_HAVE_NUM,
      </if>
      <if test="bsHaveAmount != null" >
        BS_HAVE_AMOUNT,
      </if>
      <if test="gpHaveNum != null" >
        GP_HAVE_NUM,
      </if>
      <if test="gpHaveAmount != null" >
        GP_HAVE_AMOUNT,
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE,
      </if>
      <if test="tcResult != null" >
        TC_RESULT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      seq_T_TC_AOGP_SUMMARY.nextval,
      <if test="accDate != null" >
        #{accDate,jdbcType=CHAR},
      </if>
      <if test="gpTranNum != null" >
        #{gpTranNum,jdbcType=DECIMAL},
      </if>
      <if test="gpTranAmount != null" >
        #{gpTranAmount,jdbcType=DECIMAL},
      </if>
      <if test="bsTranNum != null" >
        #{bsTranNum,jdbcType=DECIMAL},
      </if>
      <if test="bsTranAmount != null" >
        #{bsTranAmount,jdbcType=DECIMAL},
      </if>
      <if test="flatNum != null" >
        #{flatNum,jdbcType=DECIMAL},
      </if>
      <if test="flatAmount != null" >
        #{flatAmount,jdbcType=DECIMAL},
      </if>
      <if test="bsHaveNum != null" >
        #{bsHaveNum,jdbcType=DECIMAL},
      </if>
      <if test="bsHaveAmount != null" >
        #{bsHaveAmount,jdbcType=DECIMAL},
      </if>
      <if test="gpHaveNum != null" >
        #{gpHaveNum,jdbcType=DECIMAL},
      </if>
      <if test="gpHaveAmount != null" >
        #{gpHaveAmount,jdbcType=DECIMAL},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=OTHER},
      </if>
      <if test="tcResult != null" >
        #{tcResult,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.hsxt.tc.batch.bean.TcAogpSummary" >
    update T_TC_AOGP_SUMMARY
    <set >
      <if test="accDate != null" >
        ACC_DATE = #{accDate,jdbcType=CHAR},
      </if>
      <if test="gpTranNum != null" >
        GP_TRAN_NUM = #{gpTranNum,jdbcType=DECIMAL},
      </if>
      <if test="gpTranAmount != null" >
        GP_TRAN_AMOUNT = #{gpTranAmount,jdbcType=DECIMAL},
      </if>
      <if test="bsTranNum != null" >
        BS_TRAN_NUM = #{bsTranNum,jdbcType=DECIMAL},
      </if>
      <if test="bsTranAmount != null" >
        BS_TRAN_AMOUNT = #{bsTranAmount,jdbcType=DECIMAL},
      </if>
      <if test="flatNum != null" >
        FLAT_NUM = #{flatNum,jdbcType=DECIMAL},
      </if>
      <if test="flatAmount != null" >
        FLAT_AMOUNT = #{flatAmount,jdbcType=DECIMAL},
      </if>
      <if test="bsHaveNum != null" >
        BS_HAVE_NUM = #{bsHaveNum,jdbcType=DECIMAL},
      </if>
      <if test="bsHaveAmount != null" >
        BS_HAVE_AMOUNT = #{bsHaveAmount,jdbcType=DECIMAL},
      </if>
      <if test="gpHaveNum != null" >
        GP_HAVE_NUM = #{gpHaveNum,jdbcType=DECIMAL},
      </if>
      <if test="gpHaveAmount != null" >
        GP_HAVE_AMOUNT = #{gpHaveAmount,jdbcType=DECIMAL},
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE = #{updatedDate,jdbcType=OTHER},
      </if>
      <if test="tcResult != null" >
        TC_RESULT = #{tcResult,jdbcType=DECIMAL},
      </if>
    </set>
    where SUM_ID = #{sumId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.hsxt.tc.batch.bean.TcAogpSummary" >
    update T_TC_AOGP_SUMMARY
    set ACC_DATE = #{accDate,jdbcType=CHAR},
      GP_TRAN_NUM = #{gpTranNum,jdbcType=DECIMAL},
      GP_TRAN_AMOUNT = #{gpTranAmount,jdbcType=DECIMAL},
      BS_TRAN_NUM = #{bsTranNum,jdbcType=DECIMAL},
      BS_TRAN_AMOUNT = #{bsTranAmount,jdbcType=DECIMAL},
      FLAT_NUM = #{flatNum,jdbcType=DECIMAL},
      FLAT_AMOUNT = #{flatAmount,jdbcType=DECIMAL},
      BS_HAVE_NUM = #{bsHaveNum,jdbcType=DECIMAL},
      BS_HAVE_AMOUNT = #{bsHaveAmount,jdbcType=DECIMAL},
      GP_HAVE_NUM = #{gpHaveNum,jdbcType=DECIMAL},
      GP_HAVE_AMOUNT = #{gpHaveAmount,jdbcType=DECIMAL},
      UPDATED_DATE = #{updatedDate,jdbcType=OTHER},
      TC_RESULT = #{tcResult,jdbcType=DECIMAL}
    where SUM_ID = #{sumId,jdbcType=DECIMAL}
  </update>
</mapper>