<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy.hsxt.tc.mapper.PsAcSummaryMapper">
	<resultMap id="BaseResultMap" type="com.gy.hsxt.tc.bean.PsAcSummary">
		<id column="SUM_ID" property="sumId" jdbcType="DECIMAL" />
		<result column="ACC_DATE" property="tcDate" jdbcType="CHAR" />
		<result column="AC_TRAN_NUM" property="acTranNum" jdbcType="DECIMAL" />
		<result column="AC_TRAN_AMOUNT" property="acTranAmount" jdbcType="DECIMAL" />
		<result column="PS_TRAN_NUM" property="psTranNum" jdbcType="DECIMAL" />
		<result column="PS_TRAN_AMOUNT" property="psTranAmount" jdbcType="DECIMAL" />
		<result column="FLAT_NUM" property="flatNum" jdbcType="DECIMAL" />
		<result column="FLAT_AMOUNT" property="flatAmount" jdbcType="DECIMAL" />
		<result column="PS_HAVE_NUM" property="psHaveNum" jdbcType="DECIMAL" />
		<result column="PS_HAVE_AMOUNT" property="psHaveAmount" jdbcType="DECIMAL" />
		<result column="AC_HAVE_NUM" property="acHaveNum" jdbcType="DECIMAL" />
		<result column="AC_HAVE_AMOUNT" property="acHaveAmount" jdbcType="DECIMAL" />
		<result column="UPDATED_DATE" property="updatedDate" jdbcType="TIMESTAMP" />
		<result column="TC_RESULT" property="tcResult" jdbcType="DECIMAL" />
	</resultMap>

	<!--查询的列 -->
	<sql id="Base_Column_List">
	   SUM_ID,
       ACC_DATE,
       AC_TRAN_NUM,
       AC_TRAN_AMOUNT,
       PS_TRAN_NUM,
       PS_TRAN_AMOUNT,
       FLAT_NUM,
       FLAT_AMOUNT,
       PS_HAVE_NUM,
       PS_HAVE_AMOUNT,
       AC_HAVE_NUM,
       AC_HAVE_AMOUNT,
       UPDATED_DATE,
       TC_RESULT
	</sql>

	<!--分页查询条件 -->
	<sql id="Where_Condition">
		<where>
			<if test="beginDate != null">
				And TO_DATE(ACC_DATE,'YYYY-MM-DD') &gt;= TO_DATE(#{beginDate},'YYYY-MM-DD')
			</if>
			<if test="endDate != null">
				And TO_DATE(ACC_DATE,'YYYY-MM-DD') &lt;= TO_DATE(#{endDate},'YYYY-MM-DD')
			</if>
			<if test="tcResult != null">
				And TC_RESULT = #{tcResult}
			</if>
		</where>
	</sql>

	<!--分页查询 -->
	<select id="pagination" resultMap="BaseResultMap" parameterType="java.util.Map">
		<include refid="PaginationPrefix" />
		select
		<include refid="Base_Column_List" />
		from T_TC_PSAC_SUMMARY
		<include refid="Where_Condition" />
		<include refid="PaginationSuffix" />
	</select>

	<!--统计查询的总数 -->
	<select id="countTotalSize" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from T_TC_PSAC_SUMMARY
		<include refid="Where_Condition" />
	</select>

	<!--分页查询前缀 -->
	<sql id="PaginationPrefix">
		<if test="page != null">
			select * from ( select row_.*, rownum rownum_ from (
		</if>
	</sql>


	<!--分页查询后缀 -->
	<sql id="PaginationSuffix">
		<if test="page != null">
      <![CDATA[ ) row_ ) where rownum_ > #{page.curPage} * #{page.pageSize} - #{page.pageSize} and rownum_ <=  #{page.curPage} * #{page.pageSize} ]]>
		</if>
	</sql>

</mapper>