<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://code.alibabatech.com/schema/dubbo    
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

	<!-- dubbo 基本配置 -->
	<dubbo:application name="${dubbo.application.name}" />
	
	<dubbo:registry id="reg-hsxt" address="${dubbo.registry.address}"
		default="true" />
		
	<dubbo:protocol name="${dubbo.protocol}" port="${dubbo.protocol.port}"
		threadpool="${dubbo.protocol.threadpool.type}" threads="${dubbo.protocol.threadpool.threads}"
		accepts="${dubbo.protocol.accepts}" />
		
	<!-- <dubbo:monitor protocol="registry" /> -->

	<!-- 发布服务 -->
	<!-- 调度状态上报接口 -->
	<dubbo:service interface="com.gy.hsi.ds.api.IDSBatchServiceListener"
		ref="batchServiceListener" timeout="${dubbo.service.timeout15000}"
		actives="${dubbo.service.actives}" version="1.0.0" />
	
	<!-- 外部触发调度业务 -->
	<dubbo:service interface="com.gy.hsi.ds.api.IDSExternalTriggerServcie"
		ref="dsExternalTriggerServcie" timeout="${dubbo.service.timeout15000}"
		actives="${dubbo.service.actives}" version="1.0.0" />
	
</beans>
