<?xml version="1.0" encoding="UTF-8"?>    
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"    
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://code.alibabatech.com/schema/dubbo    
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">    
    
    <!-- dubbo 基本配置 -->
    <dubbo:application name="${dubbo.application.name}"/>
    <dubbo:registry id="reg-hsxt" address="${dubbo.registry.address}"  default="true"/>
    <dubbo:protocol name="${dubbo.protocol}" port="${dubbo.protocol.port}"  threadpool="${dubbo.protocol.threadpool.type}" 
                    threads="${dubbo.protocol.threadpool.threads}" accepts="${dubbo.protocol.accepts}" />
	<!--<dubbo:monitor protocol="registry" /> -->

    
    <!-- 发布服务 -->
	
	<!-- 账户管理接口 -->
    <dubbo:service interface="com.gy.hsxt.ac.api.IAccountAdminService" ref="accountAdminService" timeout="${dubbo.service.timeout5000}"  actives="${dubbo.service.actives}" version="1.0.0"/>
	

	<!-- 批记账处理调度 
	<bean id="accountBatchProcesService" class="com.gy.hsxt.ac.service.AccountBatchProcesService"/>

	<dubbo:service interface="com.gy.hsi.ds.api.IDSBatchService" ref="accountBatchProcesService" group="HSXT_AC_BATCH_PROCES" version="1.0.0">
	</dubbo:service>
	-->

	<!-- 账户分录接口 -->
    <dubbo:service interface="com.gy.hsxt.ac.api.IAccountEntryService" ref="accountEntryService" timeout="${dubbo.service.timeout5000}"  actives="${dubbo.service.actives}" version="1.0.0"/>
	
	<!-- 查询账务 -->
	<dubbo:service interface="com.gy.hsxt.ac.api.IAccountSearchService" ref="accountSearchService" timeout="${dubbo.service.timeout5000}"  actives="${dubbo.service.actives}" version="1.0.0"/>


</beans>
