<div id="lxxxTpl">
	<div class="view_info mt40 info_800">
		<table width="100%" border="0" cellpadding="0" cellspacing="0" class="fixtable">
			<tr>
	            <td class="view_item" width="14%">联系人姓名</td>
	            <td class="view_text" width="40%"><%=obj.contactPerson%></td>
	            <td class="view_item" width="12%">联系人手机</td>
	            <td class="view_text" width="34%"><%=obj.contactPhone%></td>
	        </tr>
	        <tr>
	            <td class="view_item" width="20%">联系地址</td>
	            <td class="view_text" width="30%"><%=obj.contactAddr%></td>
	            <td class="view_item" width="20%">邮政编码</td>
	            <td class="view_text" width="30%"><%=obj.postCode%></td>
	        </tr>
	        <tr>
	            <td class="view_item" width="20%">企业安全邮箱</td>
	            <td class="view_text" colspan="3">
					<div class="clearfix mr5">
					<span class="fl" style="margin-top:7px;" id="lxxx_contactEmail"><%=obj.contactEmail%></span>
					<% if(comm.isNotEmpty(obj.contactEmail)) { %>
						<% if(obj.asEntStatusInfo.isAuthEmail !=1 ) { %>
							<span style="line-height: 28px;">&nbsp;&nbsp;未验证</span> 
							<!-- <a id="btn_lxxx_yz" class="dlgEmail btn_bg submit_btn" style="float:right">验证</a> -->
						<% } %>
						<% if(obj.asEntStatusInfo.isAuthEmail ==1) { %>
							<span>&nbsp;&nbsp;已验证</span> 
						<% } %>
					<% } %>	
					</div>
				</td>
	        </tr>
	        <tr>
	            <td class="view_item" width="20%" height="60">联系人授权委托书</td>
	            <td colspan="3" class="view_text pt5 pb5">&nbsp;
	            <a ><img id="aimg" src="resources/img/noImg.gif" width="81" height="52" title="点击查看图片"></a>
	            </td>
	        </tr>
	        
	      	<%if (3 == obj.custType && 2 == obj.startResType){%>
		    <tr>
	            <td class="view_item" width="20%" height="60">创业帮扶协议</td>
	            <td colspan="3" class="view_text pt5 pb5">
	            <span id="helpAgreement_span" class="fl ml5 mt5 sample_img">
	            <a ><img id="helpAgreement_img" src="resources/img/noImg.gif" width="81" height="52" title="点击查看图片"></a>
	            </span>
	            </td>
	        </tr>
            <%}%>
		</table>
		<div class="mt20" align="center">
		<% if(num == 'tgqy'){ %>
		<a class="btn_bg submit" id="back_tgqyzyyl">返&#12288;回</a>
		<% } else if(num == 'cyqy'){ %>
		<a class="btn_bg submit" id="back_cyqyzyyl">返&#12288;回</a>
		<% } else if(num == 'fwgs'){ %>
		<a class="btn_bg submit" id="back_fwgszyyl">返&#12288;回</a>
		<% } %>
		</div>
	</div>
</div>