<div id="xhzxxxx_kjkTpl">
	<ul class="bank_content clearfix">
		
		 <%for (var i=0;i<record.length;i++){%>
	    	<li class="bank_bg pr">
	    	 <%if(record[i].isDefaultAccount==1){%>
				<i class="default_bank"></i>
			 <%}%>
			
			<div class="bank_row bank_row_margin_1">
				<!--<span class="f18" title="中国工商银行">中国工商银行</span>-->
				<span class="ml5 f13">尾号<%=record[i].bankCardNo%></span>
				<span class="ml5 f13 red"><%=record[i].bankCardType==1?'储蓄卡':'信用卡'%></span>
			</div>
			<div class="bank_row tc"><i class="large-bank-logo large-bank-<%=record[i].bankCode%>"></i></div>
			
			<div class="bank_row bank_row_margin_2 clearfix">
				<div class="fl"><span class="gray">结算币种：</span>人民币</div>
				<div class="fr"></div>
			</div>
			</li>
	    
	    <%}%>
	    
	   
		 <%if(record.length<1){%>
	       <li class="bank_bg pr">
			<div class="bank_row bank_row_margin_1 clearfix">
				<div class="fl"><!--<i class="bank_logo bank_zhaoShang"></i> --><span class="f14">未设置</span></div>
				
			</div>
			<div class="bank_row bank_row_margin_2 tc">
				<span class="bank_number"></span>
			</div>
			<div class="bank_row bank_row_margin_2 clearfix">
				<div class="fl"><span class="gray"></div>
				<div class="fr"></div>
			</div>
			</li>
	    <%}%>
		
		
	</ul>
	<div class="mt20" align="center">
	
	<% if(num == 'tgqy'){ %>
	<a class="btn_bg submit" id="back_tgqyzyyl">返&#12288;回</a>
	<% } else if(num == 'cyqy'){ %>
	<a class="btn_bg submit" id="back_cyqyzyyl">返&#12288;回</a>
	<% } else if(num == 'fwgs'){ %>
	<a class="btn_bg submit" id="back_fwgszyyl">返&#12288;回</a>
	<% } %>
	
	</div>
</div>