<div id="ywczxkTpl">
	<div class="view_info mt40 info_500">
		<% if(num == 'tgqy'){ %>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="fixtable">
			<tr>
				<td class="view_item_th" width="25%">业务名称</td>
				<td class="view_item_th" width="20%">业务状态</td>
				<td class="view_item_th" width="55%">备注</td>
			</tr>
			<tr>
				<td class="view_item" width="25%">积分转互生币</td>
				<td class="view_text" width="20%">
				<span id='tgqy_jfzhsb_query'></span>
				</td>
				<td class="view_text" width="55%">
				<span id='tgqy_jfzhsb_info_query'></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">积分投资</td>
				<td class="view_text">
				<span id="tgqy_jftz_query"></span>
				</td>
				<td class="view_text">
				<span id="tgqy_jftz_info_query"></span>
				</td>
			</tr>
			<tr>
				<td class="view_item">兑换互生币</td>
				<td class="view_text">
				<span id="tgqy_dhhsb_query"></span>
				</td>
				<td class="view_text">
				<span id="tgqy_dhhsb_info_query"></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">互生币转货币</td>
				<td class="view_text">
				<span id="tgqy_hsbzhb_query"></span>
				</td>
				<td class="view_text">
				<span id="tgqy_hsbzhb_info_query"></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">货币转银行</td>
				<td class="view_text">
				<span id="tgqy_hbzyh_query"></span>
				</td>
				<td class="view_text">
				<span id="tgqy_hbzyh_info_query"></span>
				</td>
			</tr>
		</table>
        <div class="mt20" align="center">
        
		<a class="btn_bg submit" id="back_tgqyzyyl" style="display:inline-block;">返&#12288;回</a>
		</div>
        <% } else if(num == 'cyqy'){ %>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="fixtable">
			<tr>
				<td class="view_item_th" width="25%">业务名称</td>
				<td class="view_item_th" width="20%">业务状态</td>
				<td class="view_item_th" width="55%">备注</td>
			</tr>
			<tr>
				<td class="view_item" width="25%">积分转互生币</td>
				<td class="view_text" width="20%">
				<span id="cyqy_jfzhsb_query"></span>
				</td>
				<td class="view_text" width="55%">
				<span id="cyqy_jfzhsb_info_query"></span>
				</td>
			</tr>
			<tr>
				<td class="view_item">兑换互生币</td>
				<td class="view_text">
				<span id="cyqy_dhhsb_query"></span>
				</td>
				<td class="view_text">
				<span id="cyqy_dhhsb_info_query"></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">互生币转货币</td>
				<td class="view_text">
				<span id="cyqy_hsbzhb_query"></span>
				</td>
				<td class="view_text">
				<span id="cyqy_hsbzhb_info_query"></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">货币转银行</td>
				<td class="view_text">
				<span id="cyqy_hbzyh_query"></span>
				</td>
				<td class="view_text">
				<span id="cyqy_hbzyh_info_query"></span>
				</td>
			</tr>
		</table>
        <div class="mt20" align="center">
       
		<a class="btn_bg submit" id="back_cyqyzyyl" style="display:inline-block;">返&#12288;回</a>
		</div>
        <% } else if(num == 'fwgs'){ %>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="fixtable">
			<tr>
				<td class="view_item_th" width="25%">业务名称</td>
				<td class="view_item_th" width="20%">业务状态</td>
				<td class="view_item_th" width="55%">备注</td>
			</tr>
			<tr>
				<td class="view_item" width="25%">积分转互生币</td>
				<td class="view_text" width="20%">
				<span id="fwgs_jfzhsb_query"></span>
				</td>
				<td class="view_text" width="55%">
				<span id="fwgs_jfzhsb_info_query"></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">积分投资</td>
				<td class="view_text">
				<span id="fwgs_jftz_query"></span>
				</td>
				<td class="view_text">
				<span id="fwgs_jftz_info_query"></span>
				</td>
			</tr>
			<tr>
				<td class="view_item">兑换互生币</td>
				<td class="view_text">
				<span id="fwgs_dhhsb_query"></span>
				</td>
				<td class="view_text">
				<span id="fwgs_dhhsb_info_query"></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">互生币转货币</td>
				<td class="view_text">
				<span id="fwgs_hsbzhb_query"></span>
				</td>
				<td class="view_text">
				<span id="fwgs_hsbzhb_info_query"></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">货币转银行</td>
				<td class="view_text">
				<span id="fwgs_hbzyh_query"></span>
				</td>
				<td class="view_text">
				<span id="fwgs_hbzyh_info_query"></span>
				</td>
			</tr>
		</table>
        <div class="mt20" align="center">
 
		<a class="btn_bg submit" id="back_fwgszyyl" style="display:inline-block;">返&#12288;回</a>
		</div>
        <% } else if(num == 'xfz'){ %>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="fixtable">
			<tr>
				<td class="view_item_th" width="25%">业务名称</td>
				<td class="view_item_th" width="20%">业务状态</td>
				<td class="view_item_th" width="55%">备注</td>
			</tr>
			<tr>
				<td class="view_item" width="25%">积分转互生币</td>
				<td class="view_text" width="20%">
				<span id="xfz_jfzhsb_query"></span>
				</td>
				<td class="view_text" width="55%">
				<span id="xfz_jfzhsb_info_query"></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">积分投资</td>
				<td class="view_text ">
				<span id="xfz_jftz_query"></span></td>
				<td class="view_text ">
				<span id="xfz_jftz_info_query"></span>
				</td>
			</tr>
			<tr>
				<td class="view_item">兑换互生币</td>
				<td class="view_text">
				<span id="xfz_dhhsb_query"></span></td>
				<td class="view_text ">
				<span id="xfz_dhhsb_info_query"></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">互生币转货币</td>
				<td class="view_text">
				<span id="xfz_hsbzhb_query"></span></td>
				<td class="view_text ">
				<span id="xfz_hsbzhb_info_query"></span>
				</td>
			</tr>
            <tr>
				<td class="view_item">货币转银行</td>
				<td class="view_text">
				<span id="xfz_hbzyh_query"></span></td>
				<td class="view_text ">
				<span id="xfz_hbzyh_info_query"></span>
				</td>
			</tr>
		</table>
        <div class="mt20" align="center">
         
		<a class="btn_bg submit" id="back_xfzzyyl" style="display:inline-block;">返&#12288;回</a>
		</div>
        <% } %>
	</div>
</div>

<!--弹出框内容及脚本开始-->
<div id="sltpgl-edit-dialog" class="none">
  <p></p>
</div>
<!--弹出框内容及脚本结束-->