<div class="view_info mt10">
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="fixtable">
        <tr>
            <td class="view_item" width="18%">订单号</td>
            <td class="view_text" width="32%"><%=obj.order.orderNo%></td>
            <td class="view_item" width="18%">
            	<%if(obj.order.orderType == '105'){%>
            		消费者名称
	            <%}else{%>
	            	企业名称
	            <%}%>
            </td>
            <td class="view_text" width="32%"><%=comm.navNull(obj.order.custName)%></td>
        </tr>
        <tr>
            <td class="view_item">
            	<%if(obj.order.orderType == '105'){%>
            		消费者互生号
	            <%}else{%>
	            	企业互生号
	            <%}%>
            </td>
            <td class="view_text"><%=obj.order.hsResNo%></td>
            <td class="view_item">申购类型</td>
            <td class="view_text">
            	<%if(obj.order.orderType == '109'){%>
            	申报申购
            	<%}else{%>
            	新增申购
            	<%}%>
            </td>
        </tr>
        <tr>
            <td class="view_item">订单类型</td>
            <td class="view_text"><%=obj.type%></td>
            <!-- 根据原型调整 by likui -->
            <td class="view_item"></td>
            <td class="view_text"></td>
<!--             <td class="view_item">订单数量</td> -->
<!--             <td class="view_text">1</td> -->
        </tr>
        <tr>
            <td class="view_item">订单总价</td>
            <td class="view_text"><%=obj.orderTotal%></td>
            <td class="view_item">订单状态</td>
            <td class="view_text"><%=obj.status%></td>
        </tr>
        <tr>
            <td class="view_item">支付方式</td>
            <td class="view_text"><%=obj.pay%></td>
            <td class="view_item">订单日期</td>
            <td class="view_text"><%=obj.order.orderTime%></td>
        </tr>
        <tr>
            <td class="view_item">订单操作员</td>
            <td class="view_text"><%=obj.order.orderOperator%></td>
            <td class="view_item"></td>
            <td class="view_text"></td>
        </tr>
   </table>
</div>
<%if(obj.confs && obj.confs.length > 0){%>
<div class="p20 border_left_CCC border_right_CCC border_bottom_CCC">
	<div class="search-toolbar clearfix">
		<ul class="cssform">
			<li class="h30_middle fb">工具清单</li>
		</ul>
	</div>
	<table id="gjqd_table" class="bsgrid-table bsgrid" style="min-width: 786px;">
	<thead>
		<tr>
			<th w_index="gjlb">工具类别</th>
			<th w_index="dj">单价</th>
			<th w_index="sl">数量</th>
		</tr>
	</thead>
	<tbody>
		<%if(obj.order.orderType == '109'){%>
			<%for(var i=0;i < obj.confs.length;i++){%>
			<%if(i%2 == 0){%>
			<tr>
				<td style="text-align: center;" class="lineNoWrap"><%=obj.confs[i].productName%></td>
				<td style="text-align: center;" class="lineNoWrap">--</td>
				<td style="text-align: center;" class="lineNoWrap"><%=obj.confs[i].quantity%></td>
			</tr>
			<%}else{%>
			<tr class="even_index_row">
				<td style="text-align: center;" class="lineNoWrap"><%=obj.confs[i].productName%></td>
				<td style="text-align: center;" class="lineNoWrap">--</td>
				<td style="text-align: center;" class="lineNoWrap"><%=obj.confs[i].quantity%></td>
			</tr>
			<%}}%>
		<%}else{%>
			<%for(var i=0;i < obj.confs.length;i++){%>
			<%if(i%2 == 0){%>
			<tr>
				<td style="text-align: center;" class="lineNoWrap"><%=obj.confs[i].productName%></td>
				<td style="text-align: center;" class="lineNoWrap"><%=comm.formatMoneyNumber(obj.confs[i].price)%></td>
				<td style="text-align: center;" class="lineNoWrap"><%=obj.confs[i].quantity%></td>
			</tr>
			<%}else{%>
			<tr class="even_index_row">
				<td style="text-align: center;" class="lineNoWrap"><%=comm.lang("toolorder").all_CategoryCode[obj.confs[i].categoryCode]%></td>
				<td style="text-align: center;" class="lineNoWrap"><%=comm.formatMoneyNumber(obj.confs[i].price)%></td>
				<td style="text-align: center;" class="lineNoWrap"><%=obj.confs[i].quantity%></td>
			</tr>
			<%}}%>
		<%}%>
	</tbody>
	<tfoot style="display: none;"></tfoot>
	</table>
</div>
<%}%>
		<!-- <% if(obj.deliverInfo && obj.deliverInfo.length > 0){ %>
		<div class="p20 border_left_CCC border_right_CCC border_bottom_CCC">
			<div class="search-toolbar clearfix">
				<ul class="cssform">
					<li class="h30_middle fb">配送信息</li>
				</ul>
			</div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search-table fixtd">
				<tr>
					<th class="nobd">物流公司名称</th>
					<th>配送方式</th>
					<th>货运单号</th>
				</tr>
				<%for(var i=0;i < obj.confs.length;i++){%>
				<tr>
					<td class="nobd">顺丰速递</td>
					<td>航空运输</td>
					<td>0919110222</td>
				</tr>
				<%}%>
			</table>
		</div>
		<% } %> -->
	
	
	
