<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy.hsxt.gp.mapper.TGpAbandonRetryMapper" >
  <resultMap id="BaseResultMap" type="com.gy.hsxt.gp.mapper.vo.TGpAbandonRetry" >
    <id column="RETRY_ID" property="retryId" jdbcType="INTEGER" />
    <result column="BUSINESS_ID" property="businessId" jdbcType="VARCHAR" />
    <result column="RETRY_BUSINESS_TYPE" property="retryBusinessType" jdbcType="INTEGER" />
    <result column="RETRY_STATUS" property="retryStatus" jdbcType="INTEGER" />
    <result column="RETRY_COUNTS" property="retryCounts" jdbcType="INTEGER" />
    <result column="LAST_RETRY_DATE" property="lastRetryDate" jdbcType="TIMESTAMP" />
    <result column="NEXT_RETRY_DATE" property="nextRetryDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="UPDATED_DATE" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    RETRY_ID, BUSINESS_ID, RETRY_BUSINESS_TYPE, RETRY_STATUS, RETRY_COUNTS, LAST_RETRY_DATE, 
    NEXT_RETRY_DATE, CREATED_DATE, UPDATED_DATE
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_GP_ABANDON_RETRY
    where RETRY_ID = #{retryId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_GP_ABANDON_RETRY
    where RETRY_ID = #{retryId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.gy.hsxt.gp.mapper.vo.TGpAbandonRetry" >
    insert into T_GP_ABANDON_RETRY (RETRY_ID, BUSINESS_ID, RETRY_BUSINESS_TYPE, 
      RETRY_STATUS, RETRY_COUNTS, LAST_RETRY_DATE, 
      NEXT_RETRY_DATE, CREATED_DATE, UPDATED_DATE
      )
    values (#{retryId,jdbcType=INTEGER}, #{businessId,jdbcType=VARCHAR}, #{retryBusinessType,jdbcType=INTEGER}, 
      #{retryStatus,jdbcType=INTEGER}, #{retryCounts,jdbcType=INTEGER}, #{lastRetryDate,jdbcType=TIMESTAMP}, 
      #{nextRetryDate,jdbcType=TIMESTAMP}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.gy.hsxt.gp.mapper.vo.TGpAbandonRetry" >
    insert into T_GP_ABANDON_RETRY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="retryId != null" >
        RETRY_ID,
      </if>
      <if test="businessId != null" >
        BUSINESS_ID,
      </if>
      <if test="retryBusinessType != null" >
        RETRY_BUSINESS_TYPE,
      </if>
      <if test="retryStatus != null" >
        RETRY_STATUS,
      </if>
      <if test="retryCounts != null" >
        RETRY_COUNTS,
      </if>
      <if test="lastRetryDate != null" >
        LAST_RETRY_DATE,
      </if>
      <if test="nextRetryDate != null" >
        NEXT_RETRY_DATE,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="retryId != null" >
        #{retryId,jdbcType=INTEGER},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="retryBusinessType != null" >
        #{retryBusinessType,jdbcType=INTEGER},
      </if>
      <if test="retryStatus != null" >
        #{retryStatus,jdbcType=INTEGER},
      </if>
      <if test="retryCounts != null" >
        #{retryCounts,jdbcType=INTEGER},
      </if>
      <if test="lastRetryDate != null" >
        #{lastRetryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextRetryDate != null" >
        #{nextRetryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.hsxt.gp.mapper.vo.TGpAbandonRetry" >
    update T_GP_ABANDON_RETRY
    <set >
      <if test="businessId != null" >
        BUSINESS_ID = #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="retryBusinessType != null" >
        RETRY_BUSINESS_TYPE = #{retryBusinessType,jdbcType=INTEGER},
      </if>
      <if test="retryStatus != null" >
        RETRY_STATUS = #{retryStatus,jdbcType=INTEGER},
      </if>
      <if test="retryCounts != null" >
        RETRY_COUNTS = #{retryCounts,jdbcType=INTEGER},
      </if>
      <if test="lastRetryDate != null" >
        LAST_RETRY_DATE = #{lastRetryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nextRetryDate != null" >
        NEXT_RETRY_DATE = #{nextRetryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RETRY_ID = #{retryId,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.gy.hsxt.gp.mapper.vo.TGpAbandonRetry" >
    update T_GP_ABANDON_RETRY
    set BUSINESS_ID = #{businessId,jdbcType=VARCHAR},
      RETRY_BUSINESS_TYPE = #{retryBusinessType,jdbcType=INTEGER},
      RETRY_STATUS = #{retryStatus,jdbcType=INTEGER},
      RETRY_COUNTS = #{retryCounts,jdbcType=INTEGER},
      LAST_RETRY_DATE = #{lastRetryDate,jdbcType=TIMESTAMP},
      NEXT_RETRY_DATE = #{nextRetryDate,jdbcType=TIMESTAMP},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP}
    where RETRY_ID = #{retryId,jdbcType=INTEGER}
  </update>
</mapper>