<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy.hsxt.uc.consumer.mapper.AsCustUpdateLogOldMapper" >
  <resultMap id="BaseResultMap" type="com.gy.hsxt.uc.as.bean.consumer.AsCustUpdateLogOld" >
    <id column="LOG_ID" property="logId" jdbcType="VARCHAR" />
    <result column="PER_CUST_ID" property="perCustId" jdbcType="VARCHAR" />
    <result column="COUNTRY_NAME" property="countryName" jdbcType="VARCHAR" />
    <result column="ID_TYPE" property="idType" jdbcType="DECIMAL" />
    <result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="DECIMAL" />
    <result column="PER_NAME" property="perName" jdbcType="VARCHAR" />
    <result column="ID_VALID_DATE" property="idValidDate" jdbcType="VARCHAR" />
    <result column="ID_ISSUE_ORG" property="idIssueOrg" jdbcType="VARCHAR" />
    <result column="RESIDENT_ADDR" property="residentAddr" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_FRONT" property="certificateFront" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_BACK" property="certificateBack" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_HANDHOLD" property="certificateHandhold" jdbcType="VARCHAR" />
    <result column="JOB" property="job" jdbcType="VARCHAR" />
    <result column="BIRTH_PLACE" property="birthPlace" jdbcType="VARCHAR" />
    <result column="ISSUE_PLACE" property="issuePlace" jdbcType="VARCHAR" />
    <result column="ENT_NAME" property="entName" jdbcType="VARCHAR" />
    <result column="ENT_REG_ADDR" property="entRegAddr" jdbcType="VARCHAR" />
    <result column="ENT_TYPE" property="entType" jdbcType="VARCHAR" />
    <result column="ENT_BUILD_DATE" property="entBuildDate" jdbcType="VARCHAR" />
    <result column="AUTH_REMARK" property="authRemark" jdbcType="VARCHAR" />
    <result column="ISACTIVE" property="isactive" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
    <result column="CREATEDBY" property="createdby" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
    <result column="UPDATEDBY" property="updatedby" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    LOG_ID, PER_CUST_ID, COUNTRY_NAME, ID_TYPE, ID_NO, SEX, PER_NAME, ID_VALID_DATE, 
    ID_ISSUE_ORG, RESIDENT_ADDR, CERTIFICATE_FRONT, CERTIFICATE_BACK, CERTIFICATE_HANDHOLD, 
    JOB, BIRTH_PLACE, ISSUE_PLACE, ENT_NAME, ENT_REG_ADDR, ENT_TYPE, ENT_BUILD_DATE, 
    AUTH_REMARK, ISACTIVE, CREATE_DATE, CREATEDBY, UPDATE_DATE, UPDATEDBY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_CUST_UPDATE_LOG_OLD
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_CUST_UPDATE_LOG_OLD
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gy.hsxt.uc.as.bean.consumer.AsCustUpdateLogOld" >
    insert into T_CUST_UPDATE_LOG_OLD (LOG_ID, PER_CUST_ID, COUNTRY_NAME, 
      ID_TYPE, ID_NO, SEX, 
      PER_NAME, ID_VALID_DATE, ID_ISSUE_ORG, 
      RESIDENT_ADDR, CERTIFICATE_FRONT, CERTIFICATE_BACK, 
      CERTIFICATE_HANDHOLD, JOB, BIRTH_PLACE, 
      ISSUE_PLACE, ENT_NAME, ENT_REG_ADDR, 
      ENT_TYPE, ENT_BUILD_DATE, AUTH_REMARK, 
      ISACTIVE, CREATE_DATE, CREATEDBY, 
      UPDATE_DATE, UPDATEDBY)
    values (#{logId,jdbcType=VARCHAR}, #{perCustId,jdbcType=VARCHAR}, #{countryName,jdbcType=VARCHAR}, 
      #{idType,jdbcType=DECIMAL}, #{idNo,jdbcType=VARCHAR}, #{sex,jdbcType=DECIMAL}, 
      #{perName,jdbcType=VARCHAR}, #{idValidDate,jdbcType=VARCHAR}, #{idIssueOrg,jdbcType=VARCHAR}, 
      #{residentAddr,jdbcType=VARCHAR}, #{certificateFront,jdbcType=VARCHAR}, #{certificateBack,jdbcType=VARCHAR}, 
      #{certificateHandhold,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{birthPlace,jdbcType=VARCHAR}, 
      #{issuePlace,jdbcType=VARCHAR}, #{entName,jdbcType=VARCHAR}, #{entRegAddr,jdbcType=VARCHAR}, 
      #{entType,jdbcType=VARCHAR}, #{entBuildDate,jdbcType=VARCHAR}, #{authRemark,jdbcType=VARCHAR}, 
      #{isactive,jdbcType=CHAR}, #{createDate,jdbcType=OTHER}, #{createdby,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=OTHER}, #{updatedby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gy.hsxt.uc.as.bean.consumer.AsCustUpdateLogOld" >
    insert into T_CUST_UPDATE_LOG_OLD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        LOG_ID,
      </if>
      <if test="perCustId != null" >
        PER_CUST_ID,
      </if>
      <if test="countryName != null" >
        COUNTRY_NAME,
      </if>
      <if test="idType != null" >
        ID_TYPE,
      </if>
      <if test="idNo != null" >
        ID_NO,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="perName != null" >
        PER_NAME,
      </if>
      <if test="idValidDate != null" >
        ID_VALID_DATE,
      </if>
      <if test="idIssueOrg != null" >
        ID_ISSUE_ORG,
      </if>
      <if test="residentAddr != null" >
        RESIDENT_ADDR,
      </if>
      <if test="certificateFront != null" >
        CERTIFICATE_FRONT,
      </if>
      <if test="certificateBack != null" >
        CERTIFICATE_BACK,
      </if>
      <if test="certificateHandhold != null" >
        CERTIFICATE_HANDHOLD,
      </if>
      <if test="job != null" >
        JOB,
      </if>
      <if test="birthPlace != null" >
        BIRTH_PLACE,
      </if>
      <if test="issuePlace != null" >
        ISSUE_PLACE,
      </if>
      <if test="entName != null" >
        ENT_NAME,
      </if>
      <if test="entRegAddr != null" >
        ENT_REG_ADDR,
      </if>
      <if test="entType != null" >
        ENT_TYPE,
      </if>
      <if test="entBuildDate != null" >
        ENT_BUILD_DATE,
      </if>
      <if test="authRemark != null" >
        AUTH_REMARK,
      </if>
      <if test="isactive != null" >
        ISACTIVE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createdby != null" >
        CREATEDBY,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="updatedby != null" >
        UPDATEDBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=VARCHAR},
      </if>
      <if test="perCustId != null" >
        #{perCustId,jdbcType=VARCHAR},
      </if>
      <if test="countryName != null" >
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=DECIMAL},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=DECIMAL},
      </if>
      <if test="perName != null" >
        #{perName,jdbcType=VARCHAR},
      </if>
      <if test="idValidDate != null" >
        #{idValidDate,jdbcType=VARCHAR},
      </if>
      <if test="idIssueOrg != null" >
        #{idIssueOrg,jdbcType=VARCHAR},
      </if>
      <if test="residentAddr != null" >
        #{residentAddr,jdbcType=VARCHAR},
      </if>
      <if test="certificateFront != null" >
        #{certificateFront,jdbcType=VARCHAR},
      </if>
      <if test="certificateBack != null" >
        #{certificateBack,jdbcType=VARCHAR},
      </if>
      <if test="certificateHandhold != null" >
        #{certificateHandhold,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="birthPlace != null" >
        #{birthPlace,jdbcType=VARCHAR},
      </if>
      <if test="issuePlace != null" >
        #{issuePlace,jdbcType=VARCHAR},
      </if>
      <if test="entName != null" >
        #{entName,jdbcType=VARCHAR},
      </if>
      <if test="entRegAddr != null" >
        #{entRegAddr,jdbcType=VARCHAR},
      </if>
      <if test="entType != null" >
        #{entType,jdbcType=VARCHAR},
      </if>
      <if test="entBuildDate != null" >
        #{entBuildDate,jdbcType=VARCHAR},
      </if>
      <if test="authRemark != null" >
        #{authRemark,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null" >
        #{isactive,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=OTHER},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=OTHER},
      </if>
      <if test="updatedby != null" >
        #{updatedby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.hsxt.uc.as.bean.consumer.AsCustUpdateLogOld" >
    update T_CUST_UPDATE_LOG_OLD
    <set >
      <if test="perCustId != null" >
        PER_CUST_ID = #{perCustId,jdbcType=VARCHAR},
      </if>
      <if test="countryName != null" >
        COUNTRY_NAME = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        ID_TYPE = #{idType,jdbcType=DECIMAL},
      </if>
      <if test="idNo != null" >
        ID_NO = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=DECIMAL},
      </if>
      <if test="perName != null" >
        PER_NAME = #{perName,jdbcType=VARCHAR},
      </if>
      <if test="idValidDate != null" >
        ID_VALID_DATE = #{idValidDate,jdbcType=VARCHAR},
      </if>
      <if test="idIssueOrg != null" >
        ID_ISSUE_ORG = #{idIssueOrg,jdbcType=VARCHAR},
      </if>
      <if test="residentAddr != null" >
        RESIDENT_ADDR = #{residentAddr,jdbcType=VARCHAR},
      </if>
      <if test="certificateFront != null" >
        CERTIFICATE_FRONT = #{certificateFront,jdbcType=VARCHAR},
      </if>
      <if test="certificateBack != null" >
        CERTIFICATE_BACK = #{certificateBack,jdbcType=VARCHAR},
      </if>
      <if test="certificateHandhold != null" >
        CERTIFICATE_HANDHOLD = #{certificateHandhold,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="birthPlace != null" >
        BIRTH_PLACE = #{birthPlace,jdbcType=VARCHAR},
      </if>
      <if test="issuePlace != null" >
        ISSUE_PLACE = #{issuePlace,jdbcType=VARCHAR},
      </if>
      <if test="entName != null" >
        ENT_NAME = #{entName,jdbcType=VARCHAR},
      </if>
      <if test="entRegAddr != null" >
        ENT_REG_ADDR = #{entRegAddr,jdbcType=VARCHAR},
      </if>
      <if test="entType != null" >
        ENT_TYPE = #{entType,jdbcType=VARCHAR},
      </if>
      <if test="entBuildDate != null" >
        ENT_BUILD_DATE = #{entBuildDate,jdbcType=VARCHAR},
      </if>
      <if test="authRemark != null" >
        AUTH_REMARK = #{authRemark,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null" >
        ISACTIVE = #{isactive,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=OTHER},
      </if>
      <if test="createdby != null" >
        CREATEDBY = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=OTHER},
      </if>
      <if test="updatedby != null" >
        UPDATEDBY = #{updatedby,jdbcType=VARCHAR},
      </if>
    </set>
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.hsxt.uc.as.bean.consumer.AsCustUpdateLogOld" >
    update T_CUST_UPDATE_LOG_OLD
    set PER_CUST_ID = #{perCustId,jdbcType=VARCHAR},
      COUNTRY_NAME = #{countryName,jdbcType=VARCHAR},
      ID_TYPE = #{idType,jdbcType=DECIMAL},
      ID_NO = #{idNo,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=DECIMAL},
      PER_NAME = #{perName,jdbcType=VARCHAR},
      ID_VALID_DATE = #{idValidDate,jdbcType=VARCHAR},
      ID_ISSUE_ORG = #{idIssueOrg,jdbcType=VARCHAR},
      RESIDENT_ADDR = #{residentAddr,jdbcType=VARCHAR},
      CERTIFICATE_FRONT = #{certificateFront,jdbcType=VARCHAR},
      CERTIFICATE_BACK = #{certificateBack,jdbcType=VARCHAR},
      CERTIFICATE_HANDHOLD = #{certificateHandhold,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      BIRTH_PLACE = #{birthPlace,jdbcType=VARCHAR},
      ISSUE_PLACE = #{issuePlace,jdbcType=VARCHAR},
      ENT_NAME = #{entName,jdbcType=VARCHAR},
      ENT_REG_ADDR = #{entRegAddr,jdbcType=VARCHAR},
      ENT_TYPE = #{entType,jdbcType=VARCHAR},
      ENT_BUILD_DATE = #{entBuildDate,jdbcType=VARCHAR},
      AUTH_REMARK = #{authRemark,jdbcType=VARCHAR},
      ISACTIVE = #{isactive,jdbcType=CHAR},
      CREATE_DATE = #{createDate,jdbcType=OTHER},
      CREATEDBY = #{createdby,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=OTHER},
      UPDATEDBY = #{updatedby,jdbcType=VARCHAR}
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </update>
</mapper>