<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<context:component-scan base-package="com.gy.hsi.ds.client.param" />

	<bean id="hsPropertiesConfigurer" class="com.gy.hsi.ds.param.HsPropertiesConfigurer">
	    <!-- disconf.properties存放路径 -->
		<constructor-arg name="disconfFile" value="file:${user.dir}/conf/hsi-xx/disconf.properties" />
		
		<!-- 本地配置文件[只有本地存在, 远程没有上传] -->
		<!-- <property name="locations"> -->
		<!-- <list> -->
		<!-- <value>file:${user.dir}/conf/hsxt-xx/external.properties</value> -->
		<!-- <value>file:${user.dir}/conf/hsxt-xx/e.properties</value> -->
		<!-- </list> -->
		<!-- </property> -->
		
		<!-- 远程配置文件[远程存在, 将会同步到本地] -->
		<property name="remoteLocations">
			<list>
			    <value>file:${user.dir}/conf/hsi-xx/dubbo.properties</value>
			    <value>file:${user.dir}/conf/hsi-xx/redis.properties</value>
			</list>
		</property>
	</bean>

	<bean id="j" class="com.gy.hsi.ds.client.param.config.JedisConfig">
		<property name="host" value="${redis.host}" />
		<property name="port" value="${redis.port}" />
	</bean>

</beans>