<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://code.alibabatech.com/schema/dubbo    
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">
	<!-- 关闭所有服务的启动时检查 -->
	<dubbo:consumer check="false" />

	<!-- 消费服务 -->
	<dubbo:reference id="lcsRouteRuleService"
		interface="com.gy.hsxt.lcs.api.ILCSRouteRuleService" retries="1"
		timeout="${dubbo.service.timeout10000}" version="${dubbo.service.version}" />
		
	<dubbo:reference id="gcsRouteRuleService"
		interface="com.gy.hsxt.gpf.gcs.api.IGCSRouteRuleService" retries="1"
		timeout="${dubbo.service.timeout10000}" version="${dubbo.service.version}" />
		
</beans>