<table id="searchTable">
	<tr>
		<th w_index="th_1">业务状态</th>
		<th w_index="th_2">业务结果</th>
		<th w_index="th_3">状态日期或期限</th>
		<th w_index="th_4">状态操作单位</th>
		<th w_index="th_5">操作员</th>
		<th w_render="operate">备注</th>
	</tr>
</table>
<div class="mt20" align="center">
<% if (num == 'tgqy'){ %>
<a class="btn_bg submit" id="tgqy_blztxx_cancel">取&#12288;消</a>
<% } else if (num == 'cyqy'){ %>
<a class="btn_bg submit" id="cyqy_blztxx_cancel">取&#12288;消</a>
<% } else if (num == 'fwgs'){ %>
<a class="btn_bg submit" id="fwgs_blztxx_cancel">取&#12288;消</a>
<% } %>
</div>

<div id="blztxx_content" class="none">
	<div class="mt30">
	企业申报提交
	</div>
</div>


