<div id="qygsdjxxTpl">
	<div class="view_info info_800">
		<table width="100%" border="0" cellpadding="0" cellspacing="0" class="fixtable">
			<tr>
				<td class="view_item" width="20%">企业名称</td>
				<td class="view_text" width="30%">深圳市互生科技有限公司</td>
				<td class="view_item" width="20%">企业地址</td>
				<td class="view_text" width="30%">深圳市福田区群星广场</td>
			</tr>
			<tr>
				<td class="view_item" width="20%">法人代表</td>
				<td class="view_text" width="30%">杨过</td>
				<td class="view_item" width="20%">联系人手机</td>
				<td class="view_text" width="30%">13800138000</td>
			</tr>
			<tr>
				<td class="view_item" width="20%">企业类型</td>
				<td class="view_text" width="30%">xxx</td>
				<td class="view_item" width="20%">营业执照号</td>
				<td class="view_text" width="30%">000001</td>
			</tr>
			<tr>
				<td class="view_item" width="20%">组织机构代码证号</td>
				<td class="view_text" width="30%">000001</td>
				<td class="view_item" width="20%">纳税人识别号</td>
				<td class="view_text" width="30%">000001</td>
			</tr>
			<tr>
				<td class="view_item" width="20%">成立日期</td>
				<td class="view_text" width="30%">2010-12-30</td>
				<td class="view_item" width="20%">营业期限</td>
				<td class="view_text" width="30%">2020-12-30</td>
			</tr>
			<tr>
				<td class="view_item_2" width="20%">经营范围</td>
				<td colspan="3" class="view_text"></td>
				</tr>
		</table>
	</div>
	<div class="w200 bc mt20 clearfix">
		<a class="fl btn_bg submit" id="qygsdjxx_modify">修&#12288;改</a>
		
		<% if (num == 'tgqy'){ %>
		<a class="btn_bg submit fr" id="tgqy_qygsdjxx_cancel">取&#12288;消</a>
		<% } else if (num == 'cyqy'){ %>
		<a class="btn_bg submit fr" id="cyqy_qygsdjxx_cancel">取&#12288;消</a>
		<% } else if (num == 'fwgs'){ %>
		<a class="btn_bg submit fr" id="fwgs_qygsdjxx_cancel">取&#12288;消</a>
		<% } %>

	</div>
</div>