<div id="qysczlTpl">
	<ul class="certificateSample clearfix">
		<li>
			<span class="f13">法人代表证件正面</span>
			<div class="mt10 sampleBox"><i class="certificateSample_img certificateSample_01"></i></div>
		</li>
		<li>
			<span class="f13">法人代表证件反面</span>
			<div class="mt10 sampleBox"><i class="certificateSample_img certificateSample_02"></i></div>
		</li>
		<li>
			<span class="f13">营业执照正本扫描件</span>
			<div class="mt10 sampleBox"><i class="certificateSample_img certificateSample_03"></i></div>
		</li>
		<li>
			<span class="f13">组织机构代码证正本扫描件</span>
			<div class="mt10 sampleBox"><i class="certificateSample_img certificateSample_04"></i></div>
		</li>
		<li>
			<span class="f13">税务登记证正本扫描件</span>
			<div class="mt10 sampleBox"><i class="certificateSample_img certificateSample_05"></i></div>
		</li>
	</ul>
	<div class="w200 bc mt20 clearfix">
		<a class="btn_bg submit fl" id="qysczl_modify">修&#12288;改</a>
		
		<% if (num == 'tgqy'){ %>
		<a class="btn_bg submit fr" id="tgqy_qysczl_cancel">取&#12288;消</a>
		<% } else if (num == 'cyqy'){ %>
		<a class="btn_bg submit fr" id="cyqy_qysczl_cancel">取&#12288;消</a>
		<% } else if (num == 'fwgs'){ %>
		<a class="btn_bg submit fr" id="fwgs_qysczl_cancel">取&#12288;消</a>
		<% } %>

	</div>
</div>