<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy.hsi.fs.mapper.dbbs01.TBsCompanyStopMapper" >
  <resultMap id="BaseResultMap" type="com.gy.hsi.fs.mapper.vo.dbbs01.TBsCompanyStop" >
    <id column="APPLY_ID" property="applyId" jdbcType="VARCHAR" />
    <result column="APPLY_TYPE" property="applyType" jdbcType="DECIMAL" />
    <result column="ENT_CUST_ID" property="entCustId" jdbcType="VARCHAR" />
    <result column="ENT_RES_NO" property="entResNo" jdbcType="CHAR" />
    <result column="ENT_CUST_NAME" property="entCustName" jdbcType="VARCHAR" />
    <result column="ENT_ADDR" property="entAddr" jdbcType="VARCHAR" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
    <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR" />
    <result column="APPLY_RESON" property="applyReson" jdbcType="VARCHAR" />
    <result column="OLD_STATUS" property="oldStatus" jdbcType="DECIMAL" />
    <result column="BIZ_APPLY_FILE" property="bizApplyFile" jdbcType="VARCHAR" />
    <result column="BANKACCTID" property="bankacctid" jdbcType="VARCHAR" />
    <result column="S_ENT_CUST_ID" property="sEntCustId" jdbcType="VARCHAR" />
    <result column="S_ENT_RES_NO" property="sEntResNo" jdbcType="CHAR" />
    <result column="S_ENT_CUST_NAME" property="sEntCustName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="PROGRESS" property="progress" jdbcType="DECIMAL" />
    <result column="REPORT_FILE" property="reportFile" jdbcType="VARCHAR" />
    <result column="STATEMENT_FILE" property="statementFile" jdbcType="VARCHAR" />
    <result column="OTHER_FILE" property="otherFile" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="CREATEDBY" property="createdby" jdbcType="VARCHAR" />
    <result column="UPDATED_DATE" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="UPDATEBY" property="updateby" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    APPLY_ID, APPLY_TYPE, ENT_CUST_ID, ENT_RES_NO, ENT_CUST_NAME, ENT_ADDR, CONTACT_NAME, 
    CONTACT_PHONE, APPLY_RESON, OLD_STATUS, BIZ_APPLY_FILE, BANKACCTID, S_ENT_CUST_ID, 
    S_ENT_RES_NO, S_ENT_CUST_NAME, STATUS, PROGRESS, REPORT_FILE, STATEMENT_FILE, OTHER_FILE, 
    CREATED_DATE, CREATEDBY, UPDATED_DATE, UPDATEBY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsCompanyStopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DBBS01.T_BS_COMPANY_STOP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from DBBS01.T_BS_COMPANY_STOP
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DBBS01.T_BS_COMPANY_STOP
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsCompanyStopExample" >
    delete from DBBS01.T_BS_COMPANY_STOP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsCompanyStop" >
    insert into DBBS01.T_BS_COMPANY_STOP (APPLY_ID, APPLY_TYPE, ENT_CUST_ID, 
      ENT_RES_NO, ENT_CUST_NAME, ENT_ADDR, 
      CONTACT_NAME, CONTACT_PHONE, APPLY_RESON, 
      OLD_STATUS, BIZ_APPLY_FILE, BANKACCTID, 
      S_ENT_CUST_ID, S_ENT_RES_NO, S_ENT_CUST_NAME, 
      STATUS, PROGRESS, REPORT_FILE, 
      STATEMENT_FILE, OTHER_FILE, CREATED_DATE, 
      CREATEDBY, UPDATED_DATE, UPDATEBY
      )
    values (#{applyId,jdbcType=VARCHAR}, #{applyType,jdbcType=DECIMAL}, #{entCustId,jdbcType=VARCHAR}, 
      #{entResNo,jdbcType=CHAR}, #{entCustName,jdbcType=VARCHAR}, #{entAddr,jdbcType=VARCHAR}, 
      #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{applyReson,jdbcType=VARCHAR}, 
      #{oldStatus,jdbcType=DECIMAL}, #{bizApplyFile,jdbcType=VARCHAR}, #{bankacctid,jdbcType=VARCHAR}, 
      #{sEntCustId,jdbcType=VARCHAR}, #{sEntResNo,jdbcType=CHAR}, #{sEntCustName,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{progress,jdbcType=DECIMAL}, #{reportFile,jdbcType=VARCHAR}, 
      #{statementFile,jdbcType=VARCHAR}, #{otherFile,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{createdby,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsCompanyStop" >
    insert into DBBS01.T_BS_COMPANY_STOP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        APPLY_ID,
      </if>
      <if test="applyType != null" >
        APPLY_TYPE,
      </if>
      <if test="entCustId != null" >
        ENT_CUST_ID,
      </if>
      <if test="entResNo != null" >
        ENT_RES_NO,
      </if>
      <if test="entCustName != null" >
        ENT_CUST_NAME,
      </if>
      <if test="entAddr != null" >
        ENT_ADDR,
      </if>
      <if test="contactName != null" >
        CONTACT_NAME,
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE,
      </if>
      <if test="applyReson != null" >
        APPLY_RESON,
      </if>
      <if test="oldStatus != null" >
        OLD_STATUS,
      </if>
      <if test="bizApplyFile != null" >
        BIZ_APPLY_FILE,
      </if>
      <if test="bankacctid != null" >
        BANKACCTID,
      </if>
      <if test="sEntCustId != null" >
        S_ENT_CUST_ID,
      </if>
      <if test="sEntResNo != null" >
        S_ENT_RES_NO,
      </if>
      <if test="sEntCustName != null" >
        S_ENT_CUST_NAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="progress != null" >
        PROGRESS,
      </if>
      <if test="reportFile != null" >
        REPORT_FILE,
      </if>
      <if test="statementFile != null" >
        STATEMENT_FILE,
      </if>
      <if test="otherFile != null" >
        OTHER_FILE,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="createdby != null" >
        CREATEDBY,
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE,
      </if>
      <if test="updateby != null" >
        UPDATEBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null" >
        #{applyType,jdbcType=DECIMAL},
      </if>
      <if test="entCustId != null" >
        #{entCustId,jdbcType=VARCHAR},
      </if>
      <if test="entResNo != null" >
        #{entResNo,jdbcType=CHAR},
      </if>
      <if test="entCustName != null" >
        #{entCustName,jdbcType=VARCHAR},
      </if>
      <if test="entAddr != null" >
        #{entAddr,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="applyReson != null" >
        #{applyReson,jdbcType=VARCHAR},
      </if>
      <if test="oldStatus != null" >
        #{oldStatus,jdbcType=DECIMAL},
      </if>
      <if test="bizApplyFile != null" >
        #{bizApplyFile,jdbcType=VARCHAR},
      </if>
      <if test="bankacctid != null" >
        #{bankacctid,jdbcType=VARCHAR},
      </if>
      <if test="sEntCustId != null" >
        #{sEntCustId,jdbcType=VARCHAR},
      </if>
      <if test="sEntResNo != null" >
        #{sEntResNo,jdbcType=CHAR},
      </if>
      <if test="sEntCustName != null" >
        #{sEntCustName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="progress != null" >
        #{progress,jdbcType=DECIMAL},
      </if>
      <if test="reportFile != null" >
        #{reportFile,jdbcType=VARCHAR},
      </if>
      <if test="statementFile != null" >
        #{statementFile,jdbcType=VARCHAR},
      </if>
      <if test="otherFile != null" >
        #{otherFile,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsCompanyStopExample" resultType="java.lang.Integer" >
    select count(*) from DBBS01.T_BS_COMPANY_STOP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DBBS01.T_BS_COMPANY_STOP
    <set >
      <if test="record.applyId != null" >
        APPLY_ID = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyType != null" >
        APPLY_TYPE = #{record.applyType,jdbcType=DECIMAL},
      </if>
      <if test="record.entCustId != null" >
        ENT_CUST_ID = #{record.entCustId,jdbcType=VARCHAR},
      </if>
      <if test="record.entResNo != null" >
        ENT_RES_NO = #{record.entResNo,jdbcType=CHAR},
      </if>
      <if test="record.entCustName != null" >
        ENT_CUST_NAME = #{record.entCustName,jdbcType=VARCHAR},
      </if>
      <if test="record.entAddr != null" >
        ENT_ADDR = #{record.entAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.contactName != null" >
        CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null" >
        CONTACT_PHONE = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.applyReson != null" >
        APPLY_RESON = #{record.applyReson,jdbcType=VARCHAR},
      </if>
      <if test="record.oldStatus != null" >
        OLD_STATUS = #{record.oldStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.bizApplyFile != null" >
        BIZ_APPLY_FILE = #{record.bizApplyFile,jdbcType=VARCHAR},
      </if>
      <if test="record.bankacctid != null" >
        BANKACCTID = #{record.bankacctid,jdbcType=VARCHAR},
      </if>
      <if test="record.sEntCustId != null" >
        S_ENT_CUST_ID = #{record.sEntCustId,jdbcType=VARCHAR},
      </if>
      <if test="record.sEntResNo != null" >
        S_ENT_RES_NO = #{record.sEntResNo,jdbcType=CHAR},
      </if>
      <if test="record.sEntCustName != null" >
        S_ENT_CUST_NAME = #{record.sEntCustName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.progress != null" >
        PROGRESS = #{record.progress,jdbcType=DECIMAL},
      </if>
      <if test="record.reportFile != null" >
        REPORT_FILE = #{record.reportFile,jdbcType=VARCHAR},
      </if>
      <if test="record.statementFile != null" >
        STATEMENT_FILE = #{record.statementFile,jdbcType=VARCHAR},
      </if>
      <if test="record.otherFile != null" >
        OTHER_FILE = #{record.otherFile,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDate != null" >
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdby != null" >
        CREATEDBY = #{record.createdby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedDate != null" >
        UPDATED_DATE = #{record.updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null" >
        UPDATEBY = #{record.updateby,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DBBS01.T_BS_COMPANY_STOP
    set APPLY_ID = #{record.applyId,jdbcType=VARCHAR},
      APPLY_TYPE = #{record.applyType,jdbcType=DECIMAL},
      ENT_CUST_ID = #{record.entCustId,jdbcType=VARCHAR},
      ENT_RES_NO = #{record.entResNo,jdbcType=CHAR},
      ENT_CUST_NAME = #{record.entCustName,jdbcType=VARCHAR},
      ENT_ADDR = #{record.entAddr,jdbcType=VARCHAR},
      CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      CONTACT_PHONE = #{record.contactPhone,jdbcType=VARCHAR},
      APPLY_RESON = #{record.applyReson,jdbcType=VARCHAR},
      OLD_STATUS = #{record.oldStatus,jdbcType=DECIMAL},
      BIZ_APPLY_FILE = #{record.bizApplyFile,jdbcType=VARCHAR},
      BANKACCTID = #{record.bankacctid,jdbcType=VARCHAR},
      S_ENT_CUST_ID = #{record.sEntCustId,jdbcType=VARCHAR},
      S_ENT_RES_NO = #{record.sEntResNo,jdbcType=CHAR},
      S_ENT_CUST_NAME = #{record.sEntCustName,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      PROGRESS = #{record.progress,jdbcType=DECIMAL},
      REPORT_FILE = #{record.reportFile,jdbcType=VARCHAR},
      STATEMENT_FILE = #{record.statementFile,jdbcType=VARCHAR},
      OTHER_FILE = #{record.otherFile,jdbcType=VARCHAR},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      CREATEDBY = #{record.createdby,jdbcType=VARCHAR},
      UPDATED_DATE = #{record.updatedDate,jdbcType=TIMESTAMP},
      UPDATEBY = #{record.updateby,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsCompanyStop" >
    update DBBS01.T_BS_COMPANY_STOP
    <set >
      <if test="applyType != null" >
        APPLY_TYPE = #{applyType,jdbcType=DECIMAL},
      </if>
      <if test="entCustId != null" >
        ENT_CUST_ID = #{entCustId,jdbcType=VARCHAR},
      </if>
      <if test="entResNo != null" >
        ENT_RES_NO = #{entResNo,jdbcType=CHAR},
      </if>
      <if test="entCustName != null" >
        ENT_CUST_NAME = #{entCustName,jdbcType=VARCHAR},
      </if>
      <if test="entAddr != null" >
        ENT_ADDR = #{entAddr,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="applyReson != null" >
        APPLY_RESON = #{applyReson,jdbcType=VARCHAR},
      </if>
      <if test="oldStatus != null" >
        OLD_STATUS = #{oldStatus,jdbcType=DECIMAL},
      </if>
      <if test="bizApplyFile != null" >
        BIZ_APPLY_FILE = #{bizApplyFile,jdbcType=VARCHAR},
      </if>
      <if test="bankacctid != null" >
        BANKACCTID = #{bankacctid,jdbcType=VARCHAR},
      </if>
      <if test="sEntCustId != null" >
        S_ENT_CUST_ID = #{sEntCustId,jdbcType=VARCHAR},
      </if>
      <if test="sEntResNo != null" >
        S_ENT_RES_NO = #{sEntResNo,jdbcType=CHAR},
      </if>
      <if test="sEntCustName != null" >
        S_ENT_CUST_NAME = #{sEntCustName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="progress != null" >
        PROGRESS = #{progress,jdbcType=DECIMAL},
      </if>
      <if test="reportFile != null" >
        REPORT_FILE = #{reportFile,jdbcType=VARCHAR},
      </if>
      <if test="statementFile != null" >
        STATEMENT_FILE = #{statementFile,jdbcType=VARCHAR},
      </if>
      <if test="otherFile != null" >
        OTHER_FILE = #{otherFile,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        CREATEDBY = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UPDATEBY = #{updateby,jdbcType=VARCHAR},
      </if>
    </set>
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsCompanyStop" >
    update DBBS01.T_BS_COMPANY_STOP
    set APPLY_TYPE = #{applyType,jdbcType=DECIMAL},
      ENT_CUST_ID = #{entCustId,jdbcType=VARCHAR},
      ENT_RES_NO = #{entResNo,jdbcType=CHAR},
      ENT_CUST_NAME = #{entCustName,jdbcType=VARCHAR},
      ENT_ADDR = #{entAddr,jdbcType=VARCHAR},
      CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      APPLY_RESON = #{applyReson,jdbcType=VARCHAR},
      OLD_STATUS = #{oldStatus,jdbcType=DECIMAL},
      BIZ_APPLY_FILE = #{bizApplyFile,jdbcType=VARCHAR},
      BANKACCTID = #{bankacctid,jdbcType=VARCHAR},
      S_ENT_CUST_ID = #{sEntCustId,jdbcType=VARCHAR},
      S_ENT_RES_NO = #{sEntResNo,jdbcType=CHAR},
      S_ENT_CUST_NAME = #{sEntCustName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      PROGRESS = #{progress,jdbcType=DECIMAL},
      REPORT_FILE = #{reportFile,jdbcType=VARCHAR},
      STATEMENT_FILE = #{statementFile,jdbcType=VARCHAR},
      OTHER_FILE = #{otherFile,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      CREATEDBY = #{createdby,jdbcType=VARCHAR},
      UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=VARCHAR}
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </update>
</mapper>