<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy.hsi.fs.mapper.dbbs01.TBsDeclareEntLinkmanMapper" >
  <resultMap id="BaseResultMap" type="com.gy.hsi.fs.mapper.vo.dbbs01.TBsDeclareEntLinkman" >
    <id column="APPLY_ID" property="applyId" jdbcType="VARCHAR" />
    <result column="LINKMAN" property="linkman" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ZIP_CODE" property="zipCode" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="JOB" property="job" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_FILE" property="certificateFile" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="WEB_SITE" property="webSite" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="CREATEDBY" property="createdby" jdbcType="VARCHAR" />
    <result column="UPDATED_DATE" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="UPDATEDBY" property="updatedby" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    APPLY_ID, LINKMAN, PHONE, MOBILE, EMAIL, ZIP_CODE, ADDRESS, JOB, CERTIFICATE_FILE, 
    QQ, WEB_SITE, FAX, CREATED_DATE, CREATEDBY, UPDATED_DATE, UPDATEDBY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsDeclareEntLinkmanExample" >
    select * from (
    select
    <if test="distinct" >
      distinct
    </if>
    ROWNUM rn,
    <include refid="Base_Column_List" />
    from DBBS01.T_BS_DECLARE_ENT_LINKMAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    ) 
	    <![CDATA[
		where rn >= #{start} and rn <= #{end}
		]]>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from DBBS01.T_BS_DECLARE_ENT_LINKMAN
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DBBS01.T_BS_DECLARE_ENT_LINKMAN
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsDeclareEntLinkmanExample" >
    delete from DBBS01.T_BS_DECLARE_ENT_LINKMAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsDeclareEntLinkman" >
    insert into DBBS01.T_BS_DECLARE_ENT_LINKMAN (APPLY_ID, LINKMAN, PHONE, 
      MOBILE, EMAIL, ZIP_CODE, 
      ADDRESS, JOB, CERTIFICATE_FILE, 
      QQ, WEB_SITE, FAX, CREATED_DATE, 
      CREATEDBY, UPDATED_DATE, UPDATEDBY
      )
    values (#{applyId,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{certificateFile,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{webSite,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{createdby,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}, #{updatedby,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsDeclareEntLinkman" >
    insert into DBBS01.T_BS_DECLARE_ENT_LINKMAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        APPLY_ID,
      </if>
      <if test="linkman != null" >
        LINKMAN,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="zipCode != null" >
        ZIP_CODE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="job != null" >
        JOB,
      </if>
      <if test="certificateFile != null" >
        CERTIFICATE_FILE,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="webSite != null" >
        WEB_SITE,
      </if>
      <if test="fax != null" >
        FAX,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="createdby != null" >
        CREATEDBY,
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE,
      </if>
      <if test="updatedby != null" >
        UPDATEDBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="certificateFile != null" >
        #{certificateFile,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="webSite != null" >
        #{webSite,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedby != null" >
        #{updatedby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsDeclareEntLinkmanExample" resultType="java.lang.Integer" >
    select count(*) from DBBS01.T_BS_DECLARE_ENT_LINKMAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DBBS01.T_BS_DECLARE_ENT_LINKMAN
    <set >
      <if test="record.applyId != null" >
        APPLY_ID = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null" >
        LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.zipCode != null" >
        ZIP_CODE = #{record.zipCode,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.job != null" >
        JOB = #{record.job,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateFile != null" >
        CERTIFICATE_FILE = #{record.certificateFile,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null" >
        QQ = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.webSite != null" >
        WEB_SITE = #{record.webSite,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null" >
        FAX = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDate != null" >
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdby != null" >
        CREATEDBY = #{record.createdby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedDate != null" >
        UPDATED_DATE = #{record.updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedby != null" >
        UPDATEDBY = #{record.updatedby,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DBBS01.T_BS_DECLARE_ENT_LINKMAN
    set APPLY_ID = #{record.applyId,jdbcType=VARCHAR},
      LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      ZIP_CODE = #{record.zipCode,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      JOB = #{record.job,jdbcType=VARCHAR},
      CERTIFICATE_FILE = #{record.certificateFile,jdbcType=VARCHAR},
      QQ = #{record.qq,jdbcType=VARCHAR},
      WEB_SITE = #{record.webSite,jdbcType=VARCHAR},
      FAX = #{record.fax,jdbcType=VARCHAR},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      CREATEDBY = #{record.createdby,jdbcType=VARCHAR},
      UPDATED_DATE = #{record.updatedDate,jdbcType=TIMESTAMP},
      UPDATEDBY = #{record.updatedby,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsDeclareEntLinkman" >
    update DBBS01.T_BS_DECLARE_ENT_LINKMAN
    <set >
      <if test="linkman != null" >
        LINKMAN = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="certificateFile != null" >
        CERTIFICATE_FILE = #{certificateFile,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="webSite != null" >
        WEB_SITE = #{webSite,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        CREATEDBY = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedby != null" >
        UPDATEDBY = #{updatedby,jdbcType=VARCHAR},
      </if>
    </set>
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsDeclareEntLinkman" >
    update DBBS01.T_BS_DECLARE_ENT_LINKMAN
    set LINKMAN = #{linkman,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      CERTIFICATE_FILE = #{certificateFile,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      WEB_SITE = #{webSite,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      CREATEDBY = #{createdby,jdbcType=VARCHAR},
      UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      UPDATEDBY = #{updatedby,jdbcType=VARCHAR}
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </update>
</mapper>