<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy.hsi.fs.mapper.dbbs01.TBsEntChangeInfoAppMapper" >
  <resultMap id="BaseResultMap" type="com.gy.hsi.fs.mapper.vo.dbbs01.TBsEntChangeInfoApp" >
    <id column="APPLY_ID" property="applyId" jdbcType="VARCHAR" />
    <result column="ENT_CUST_ID" property="entCustId" jdbcType="VARCHAR" />
    <result column="ENT_RES_NO" property="entResNo" jdbcType="CHAR" />
    <result column="ENT_CUST_NAME" property="entCustName" jdbcType="VARCHAR" />
    <result column="CUST_TYPE" property="custType" jdbcType="DECIMAL" />
    <result column="LINKMAN" property="linkman" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="COUNTRY_NO" property="countryNo" jdbcType="VARCHAR" />
    <result column="PROVINCE_NO" property="provinceNo" jdbcType="VARCHAR" />
    <result column="CITY_NO" property="cityNo" jdbcType="VARCHAR" />
    <result column="IMPTAPP_PIC" property="imptappPic" jdbcType="VARCHAR" />
    <result column="APPLY_REASON" property="applyReason" jdbcType="VARCHAR" />
    <result column="APPR_REMARK" property="apprRemark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="APPLY_DATE" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="CREATEDBY" property="createdby" jdbcType="VARCHAR" />
    <result column="UPDATED_DATE" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="UPDATEBY" property="updateby" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    APPLY_ID, ENT_CUST_ID, ENT_RES_NO, ENT_CUST_NAME, CUST_TYPE, LINKMAN, MOBILE, COUNTRY_NO, 
    PROVINCE_NO, CITY_NO, IMPTAPP_PIC, APPLY_REASON, APPR_REMARK, STATUS, APPLY_DATE, 
    CREATED_DATE, CREATEDBY, UPDATED_DATE, UPDATEBY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsEntChangeInfoAppExample" >
    select * from (
    select
    <if test="distinct" >
      distinct
    </if>
    ROWNUM rn,
    <include refid="Base_Column_List" />
    from DBBS01.T_BS_ENT_CHANGE_INFO_APP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    ) 
	    <![CDATA[
		where rn >= #{start} and rn <= #{end}
		]]>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from DBBS01.T_BS_ENT_CHANGE_INFO_APP
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DBBS01.T_BS_ENT_CHANGE_INFO_APP
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsEntChangeInfoAppExample" >
    delete from DBBS01.T_BS_ENT_CHANGE_INFO_APP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsEntChangeInfoApp" >
    insert into DBBS01.T_BS_ENT_CHANGE_INFO_APP (APPLY_ID, ENT_CUST_ID, ENT_RES_NO, 
      ENT_CUST_NAME, CUST_TYPE, LINKMAN, 
      MOBILE, COUNTRY_NO, PROVINCE_NO, 
      CITY_NO, IMPTAPP_PIC, APPLY_REASON, 
      APPR_REMARK, STATUS, APPLY_DATE, 
      CREATED_DATE, CREATEDBY, UPDATED_DATE, 
      UPDATEBY)
    values (#{applyId,jdbcType=VARCHAR}, #{entCustId,jdbcType=VARCHAR}, #{entResNo,jdbcType=CHAR}, 
      #{entCustName,jdbcType=VARCHAR}, #{custType,jdbcType=DECIMAL}, #{linkman,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{countryNo,jdbcType=VARCHAR}, #{provinceNo,jdbcType=VARCHAR}, 
      #{cityNo,jdbcType=VARCHAR}, #{imptappPic,jdbcType=VARCHAR}, #{applyReason,jdbcType=VARCHAR}, 
      #{apprRemark,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{createdby,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP}, 
      #{updateby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsEntChangeInfoApp" >
    insert into DBBS01.T_BS_ENT_CHANGE_INFO_APP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        APPLY_ID,
      </if>
      <if test="entCustId != null" >
        ENT_CUST_ID,
      </if>
      <if test="entResNo != null" >
        ENT_RES_NO,
      </if>
      <if test="entCustName != null" >
        ENT_CUST_NAME,
      </if>
      <if test="custType != null" >
        CUST_TYPE,
      </if>
      <if test="linkman != null" >
        LINKMAN,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="countryNo != null" >
        COUNTRY_NO,
      </if>
      <if test="provinceNo != null" >
        PROVINCE_NO,
      </if>
      <if test="cityNo != null" >
        CITY_NO,
      </if>
      <if test="imptappPic != null" >
        IMPTAPP_PIC,
      </if>
      <if test="applyReason != null" >
        APPLY_REASON,
      </if>
      <if test="apprRemark != null" >
        APPR_REMARK,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="applyDate != null" >
        APPLY_DATE,
      </if>
      <if test="createdDate != null" >
        CREATED_DATE,
      </if>
      <if test="createdby != null" >
        CREATEDBY,
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE,
      </if>
      <if test="updateby != null" >
        UPDATEBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="entCustId != null" >
        #{entCustId,jdbcType=VARCHAR},
      </if>
      <if test="entResNo != null" >
        #{entResNo,jdbcType=CHAR},
      </if>
      <if test="entCustName != null" >
        #{entCustName,jdbcType=VARCHAR},
      </if>
      <if test="custType != null" >
        #{custType,jdbcType=DECIMAL},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="countryNo != null" >
        #{countryNo,jdbcType=VARCHAR},
      </if>
      <if test="provinceNo != null" >
        #{provinceNo,jdbcType=VARCHAR},
      </if>
      <if test="cityNo != null" >
        #{cityNo,jdbcType=VARCHAR},
      </if>
      <if test="imptappPic != null" >
        #{imptappPic,jdbcType=VARCHAR},
      </if>
      <if test="applyReason != null" >
        #{applyReason,jdbcType=VARCHAR},
      </if>
      <if test="apprRemark != null" >
        #{apprRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsEntChangeInfoAppExample" resultType="java.lang.Integer" >
    select count(*) from DBBS01.T_BS_ENT_CHANGE_INFO_APP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DBBS01.T_BS_ENT_CHANGE_INFO_APP
    <set >
      <if test="record.applyId != null" >
        APPLY_ID = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.entCustId != null" >
        ENT_CUST_ID = #{record.entCustId,jdbcType=VARCHAR},
      </if>
      <if test="record.entResNo != null" >
        ENT_RES_NO = #{record.entResNo,jdbcType=CHAR},
      </if>
      <if test="record.entCustName != null" >
        ENT_CUST_NAME = #{record.entCustName,jdbcType=VARCHAR},
      </if>
      <if test="record.custType != null" >
        CUST_TYPE = #{record.custType,jdbcType=DECIMAL},
      </if>
      <if test="record.linkman != null" >
        LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.countryNo != null" >
        COUNTRY_NO = #{record.countryNo,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceNo != null" >
        PROVINCE_NO = #{record.provinceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.cityNo != null" >
        CITY_NO = #{record.cityNo,jdbcType=VARCHAR},
      </if>
      <if test="record.imptappPic != null" >
        IMPTAPP_PIC = #{record.imptappPic,jdbcType=VARCHAR},
      </if>
      <if test="record.applyReason != null" >
        APPLY_REASON = #{record.applyReason,jdbcType=VARCHAR},
      </if>
      <if test="record.apprRemark != null" >
        APPR_REMARK = #{record.apprRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.applyDate != null" >
        APPLY_DATE = #{record.applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdDate != null" >
        CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdby != null" >
        CREATEDBY = #{record.createdby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedDate != null" >
        UPDATED_DATE = #{record.updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null" >
        UPDATEBY = #{record.updateby,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DBBS01.T_BS_ENT_CHANGE_INFO_APP
    set APPLY_ID = #{record.applyId,jdbcType=VARCHAR},
      ENT_CUST_ID = #{record.entCustId,jdbcType=VARCHAR},
      ENT_RES_NO = #{record.entResNo,jdbcType=CHAR},
      ENT_CUST_NAME = #{record.entCustName,jdbcType=VARCHAR},
      CUST_TYPE = #{record.custType,jdbcType=DECIMAL},
      LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      COUNTRY_NO = #{record.countryNo,jdbcType=VARCHAR},
      PROVINCE_NO = #{record.provinceNo,jdbcType=VARCHAR},
      CITY_NO = #{record.cityNo,jdbcType=VARCHAR},
      IMPTAPP_PIC = #{record.imptappPic,jdbcType=VARCHAR},
      APPLY_REASON = #{record.applyReason,jdbcType=VARCHAR},
      APPR_REMARK = #{record.apprRemark,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      APPLY_DATE = #{record.applyDate,jdbcType=TIMESTAMP},
      CREATED_DATE = #{record.createdDate,jdbcType=TIMESTAMP},
      CREATEDBY = #{record.createdby,jdbcType=VARCHAR},
      UPDATED_DATE = #{record.updatedDate,jdbcType=TIMESTAMP},
      UPDATEBY = #{record.updateby,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsEntChangeInfoApp" >
    update DBBS01.T_BS_ENT_CHANGE_INFO_APP
    <set >
      <if test="entCustId != null" >
        ENT_CUST_ID = #{entCustId,jdbcType=VARCHAR},
      </if>
      <if test="entResNo != null" >
        ENT_RES_NO = #{entResNo,jdbcType=CHAR},
      </if>
      <if test="entCustName != null" >
        ENT_CUST_NAME = #{entCustName,jdbcType=VARCHAR},
      </if>
      <if test="custType != null" >
        CUST_TYPE = #{custType,jdbcType=DECIMAL},
      </if>
      <if test="linkman != null" >
        LINKMAN = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="countryNo != null" >
        COUNTRY_NO = #{countryNo,jdbcType=VARCHAR},
      </if>
      <if test="provinceNo != null" >
        PROVINCE_NO = #{provinceNo,jdbcType=VARCHAR},
      </if>
      <if test="cityNo != null" >
        CITY_NO = #{cityNo,jdbcType=VARCHAR},
      </if>
      <if test="imptappPic != null" >
        IMPTAPP_PIC = #{imptappPic,jdbcType=VARCHAR},
      </if>
      <if test="applyReason != null" >
        APPLY_REASON = #{applyReason,jdbcType=VARCHAR},
      </if>
      <if test="apprRemark != null" >
        APPR_REMARK = #{apprRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="applyDate != null" >
        APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        CREATEDBY = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null" >
        UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UPDATEBY = #{updateby,jdbcType=VARCHAR},
      </if>
    </set>
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.hsi.fs.mapper.vo.dbbs01.TBsEntChangeInfoApp" >
    update DBBS01.T_BS_ENT_CHANGE_INFO_APP
    set ENT_CUST_ID = #{entCustId,jdbcType=VARCHAR},
      ENT_RES_NO = #{entResNo,jdbcType=CHAR},
      ENT_CUST_NAME = #{entCustName,jdbcType=VARCHAR},
      CUST_TYPE = #{custType,jdbcType=DECIMAL},
      LINKMAN = #{linkman,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      COUNTRY_NO = #{countryNo,jdbcType=VARCHAR},
      PROVINCE_NO = #{provinceNo,jdbcType=VARCHAR},
      CITY_NO = #{cityNo,jdbcType=VARCHAR},
      IMPTAPP_PIC = #{imptappPic,jdbcType=VARCHAR},
      APPLY_REASON = #{applyReason,jdbcType=VARCHAR},
      APPR_REMARK = #{apprRemark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      CREATEDBY = #{createdby,jdbcType=VARCHAR},
      UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=VARCHAR}
    where APPLY_ID = #{applyId,jdbcType=VARCHAR}
  </update>
</mapper>