<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.hsxt.ao.mapper.PvToHsbMapper">

	<!-- 插入积分转互生币记录 -->
	<insert id="insertPvToHsb" parameterType="com.gy.hsxt.ao.bean.PvToHsb">
		INSERT INTO
		T_AO_PV_TO_HSB
		(
		TRANS_NO,
		CUST_ID,
		HS_RES_NO,
		CUST_NAME,
		CUST_TYPE,
		TO_ACC_TYPE,
		AMOUNT,
		REQ_TIME,
		OPT_CUST_ID,
		OPT_CUST_NAME,
		CHANNEL,
		TERM_NO,
		BATCH_NO
		)
		VALUES
		(
		#{transNo},
		#{custId},
		#{hsResNo},
		#{custName},
		#{custType},
		#{toAccType},
		#{amount},
		to_date(#{reqTime},'yyyy-mm-dd hh24:mi:ss'),
		#{optCustId},
		#{optCustName},
		#{channel},
		#{termNo},
		#{batchNo}
		)
	</insert>

	<!-- 查询积分转互生币 -->
	<select id="findPvToHsb" resultType="com.gy.hsxt.ao.bean.PvToHsb">
		SELECT
		TRANS_NO AS transNo,
		CUST_ID AS custId,
		HS_RES_NO AS hsResNo,
		CUST_NAME AS custName,
		CUST_TYPE AS custType,
		TO_ACC_TYPE AS toAccType,
		AMOUNT AS amount,
		REQ_TIME AS reqTime,
		OPT_CUST_ID AS optCustId,
		OPT_CUST_NAME AS optCustName,
		CHANNEL AS channel,
		TERM_NO AS termNo,
		BATCH_NO AS batchNo
		FROM T_AO_PV_TO_HSB
		WHERE
		TRANS_NO = #{transNo}
	</select>

</mapper>