<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://code.alibabatech.com/schema/dubbo    
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

  	<dubbo:consumer check="false" />
  	
	<!-- 消费服务 -->
	<!-- 调度监听服务 -->
	<dubbo:reference id="dsBatchCallback"
		interface="com.gy.hsi.ds.api.IDSBatchServiceListener" retries="${dubbo.reference.retires}"
		timeout="${dubbo.service.timeout15000}" async="true" sent="false"
		version="1.0.0" />

	<!-- 地区平台配送 -->
	<dubbo:reference id="baseDataService"
		interface="com.gy.hsxt.lcs.api.ILCSBaseDataService" timeout="${dubbo.service.timeout15000}"
		retries="${dubbo.reference.retires}" connections="${dubbo.reference.connections}"
		check="false" version="1.0.0" />

	<!-- 支付系统：网银支付接口 -->
	<dubbo:reference id="gpPaymentService"
		interface="com.gy.hsxt.gp.api.IGPPaymentService" timeout="${dubbo.service.timeout15000}"
		retries="${dubbo.reference.retires}" connections="${dubbo.reference.connections}"
		check="false" version="1.0.0" />
		
	<!-- 帐户操作系统：兑换互生币接口 -->
	<dubbo:reference id="aoExchangeHsbService"
		interface="com.gy.hsxt.ao.api.IAOExchangeHsbService" timeout="${dubbo.service.timeout15000}"
		retries="${dubbo.reference.retires}" connections="${dubbo.reference.connections}"
		check="false" version="1.0.0" />

	<!-- 业务服务系统：订单接口 -->
	<dubbo:reference id="bsOrderService"
		interface="com.gy.hsxt.bs.api.order.IBSOrderService" timeout="${dubbo.service.timeout15000}"
		retries="${dubbo.reference.retires}" connections="${dubbo.reference.connections}"
		check="false" version="1.0.0" />
		
	<!-- 文件上传 -->            
    <dubbo:reference id="fssNotifyService"
                interface="com.gy.hsxt.gpf.fss.api.IfssNotifyService" retries="${dubbo.reference.retires}"
                timeout="${dubbo.service.timeout15000}" async="true" sent="false"
                version="1.0.0" />
</beans>
