<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
				        http://code.alibabatech.com/schema/dubbo
				        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <!-- 关闭所有服务的启动时检查 -->
	<dubbo:consumer check="false"/>

	<!-- 生成远程服务代理 -->

    <!-- 工单系统 -->
    <!--<dubbo:reference id="taskSync_1" interface="com.gy.hsxt.tm.api.ITMSyncTaskService" group="BS" timeout="${dubbo.service.timeout15000}" retries="${dubbo.reference.retires}" check="false" version="1.0.0"/>-->
    <!-- 积分福利系统 -->
    <!--<dubbo:reference id="taskSync_2" interface="com.gy.hsxt.tm.api.ITMSyncTaskService" group="WS" timeout="${dubbo.service.timeout15000}" retries="${dubbo.reference.retires}" check="false" version="1.0.0"/>-->

</beans>