<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<context-param>
		<!-- 如果不加, tomcat部署多war包会冲突 -->
		<param-name>webAppRootKey</param-name>
		<param-value>hsxt.tc.batch.root</param-value>
	</context-param>

	<!-- spring mvc 配置 -->
	<servlet>
		<servlet-name>servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:spring/spring-global.xml</param-value>  
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>servlet</servlet-name>
		<url-pattern>/*</url-pattern> 
	</servlet-mapping>  
	
	<listener>
	  <listener-class>
	      org.springframework.web.context.request.RequestContextListener
	  </listener-class>
	</listener>
 
	
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<context-param>   
      <param-name>log4jConfigLocation</param-name>   
      <param-value>file:${user.dir}/conf/hsxt-tc-batch/log4j.properties</param-value>   
	</context-param>   
  
	<context-param>   
      <param-name>log4jRefreshInterval</param-name>   
      <param-value>6000</param-value>   
	</context-param> 

	<listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

</web-app>