<?xml version="1.0" encoding="UTF-8"?>    
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"    
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://code.alibabatech.com/schema/dubbo    
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">    
    
    <!-- dubbo 基本配置 -->
    <dubbo:application name="${dubbo.application.name}"/>
    <dubbo:registry id="reg-hsxt" address="${dubbo.registry.address}"  default="true"/>
    <dubbo:protocol name="${dubbo.protocol}" port="${dubbo.protocol.port}"  threadpool="${dubbo.protocol.threadpool.type}" 
                    threads="${dubbo.protocol.threadpool.threads}" accepts="${dubbo.protocol.accepts}" />
	<!--<dubbo:monitor protocol="registry" /> -->

    
    <!-- 发布服务 -->
	
	<!-- 系统参数管理接口 -->
    <dubbo:service interface="com.gy.hsxt.bp.api.IBusinessSysParamService" ref="businessSysParamService" timeout="${dubbo.service.timeout5000}"  actives="${dubbo.service.actives}" version="1.0.0"/>
	
	<!-- 协议费用管理接口-->
    <dubbo:service interface="com.gy.hsxt.bp.api.IBusinessAgreeService" ref="businessAgreeService" timeout="${dubbo.service.timeout5000}"  actives="${dubbo.service.actives}" version="1.0.0"/>
 	
	<!-- 客户参数管理接口 -->
    <dubbo:service interface="com.gy.hsxt.bp.api.IBusinessCustParamService" ref="businessCustParamService" timeout="${dubbo.service.timeout5000}"  actives="${dubbo.service.actives}" version="1.0.0"/>
	
	<!-- 参数获取服务接口 -->
	<dubbo:service interface="com.gy.hsxt.bp.api.IBusinessParamSearchService" ref="businessParamSearchService" timeout="${dubbo.service.timeout5000}"  actives="${dubbo.service.actives}" version="1.0.0"/>
	
	<!-- 业务操作许可设置接口 -->
    <dubbo:service interface="com.gy.hsxt.bp.api.IBusinessSysBoSettingService" ref="businessSysBoSettingService" timeout="${dubbo.service.timeout5000}"  actives="${dubbo.service.actives}" version="1.0.0"/>
	
	<!-- 业务参数初始化到Redis -->
    <dubbo:service interface="com.gy.hsi.ds.api.IDSBatchService" ref="businessParamSearchService" group="HSXT_BP_BATCH_INIT_DATA_TO_REDIS" version="1.0.0"/>
	
</beans>
