<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 其他的查询，更新，调用存储过程 -->
<mapper namespace="com.gy.hsxt.lcs.mapper.CityMapper">
	<!-- 获取某个条记录 -->
	<select id="getCity" resultType="com.gy.hsxt.lcs.bean.City">
		SELECT
			CITY_NO AS cityNo,
			COUNTRY_NO AS countryNo,
			PROVINCE_NO AS provinceNo,
			CITY_NAME_CN AS cityNameCn,
			CITY_NAME AS cityName,
			CITY_FULL_NAME AS cityFullName,
			PHONE_PREFIX AS phonePrefix,
			POST_CODE AS postCode,
			DEL_FLAG AS delFlag,
			VERSION AS version
		FROM
			T_LCS_CITY
		WHERE
			CITY_NO = #{cityNo} 
		AND COUNTRY_NO = #{countryNo} 
		AND PROVINCE_NO = #{provinceNo}
	</select>
	<!-- 读取某个省份的所以城市记录 -->
	<select id="queryCityByParent" parameterType="string"
		resultType="com.gy.hsxt.lcs.bean.City">
		SELECT
			CITY_NO AS cityNo,
			COUNTRY_NO AS countryNo,
			PROVINCE_NO AS provinceNo,
			city_NAME_CN AS cityNameCn,
			city_NAME AS cityName,
			CITY_FULL_NAME AS cityFullName,
			PHONE_PREFIX AS phonePrefix,
			POST_CODE AS postCode,
			VERSION AS version
		FROM
			T_LCS_CITY
		WHERE
			DEL_FLAG = 0 
		AND COUNTRY_NO = #{countryNo}
		AND PROVINCE_NO = #{provinceNo}
		ORDER BY
			CITY_NO
	</select>
	<!--是否已存在相同 -->
	<select id="existCity" resultType="string">
		<![CDATA[
			SELECT
				1
			FROM
				T_LCS_CITY
			WHERE
				CITY_NO = #{cityNo} 
			AND COUNTRY_NO = #{countryNo} 
			AND PROVINCE_NO = #{provinceNo}
		]]>
	</select>
	<!-- 批量插入数据 -->
	<insert id="batchInsert" parameterType="com.gy.hsxt.lcs.bean.City">
		INSERT INTO T_LCS_CITY (
			CITY_NO,
			COUNTRY_NO,
			PROVINCE_NO,
			city_NAME_CN,
			city_NAME,
			CITY_FULL_NAME,
			PHONE_PREFIX,
			POST_CODE,
			DEL_FLAG,
			VERSION
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.cityNo},
			#{item.countryNo},
			#{item.provinceNo},
			#{item.cityNameCn},
			#{item.cityName},
			#{item.cityFullName},
			#{item.phonePrefix},
			#{item.postCode},
			#{item.delFlag},
			#{item.version})
		</foreach>
	</insert>
	<!-- 批量更新数据 -->
	<update id="batchUpdate" parameterType="com.gy.hsxt.lcs.bean.City">
		<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			UPDATE T_LCS_CITY
			<set>
				COUNTRY_NO = #{item.countryNo},
				PROVINCE_NO=#{item.provinceNo},
				CITY_NAME_CN=#{item.cityNameCn},
				CITY_NAME=#{item.cityName},
				PHONE_PREFIX=#{item.phonePrefix},
				CITY_FULL_NAME=#{item.cityFullName},
				POST_CODE=#{item.postCode},
				DEL_FLAG = #{item.delFlag},
				VERSION=#{item.version}
			</set>
			WHERE
				CITY_NO = #{item.cityNo} 
			AND COUNTRY_NO = #{item.countryNo} 
			AND PROVINCE_NO = #{item.provinceNo}
		</foreach>
	</update>
</mapper>

